@import "../../_common/colors.module.css";

.menuItemContainer {
    width: 400px;
    color: var(--text-light-color);
}

.menuItemContainer.grab {
    cursor: grab;
}

/* Main Menu Item Block */

.menuItem {
    width: 100%;
    min-height: 40px;
    padding: 6px;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    background-color: var(--button-background-color);
}

.menuItem.active {
    background-color: #6457BB;
}

.menuItem.secondaryBot {
    box-shadow: 0 5px 3px var(--button-shadow-color);
}

.menuItem.secondaryTop {
    box-shadow: 0 -5px 3px var(--button-shadow-color);
}

/* END Main Menu Item Block */

.subMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin-top: 10px;
    margin-left: 30px;
}

/* MenuItemStyle - SubMenuCount */

.subMenuCount {
    width: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    color: var(--text-soft-color);
}

.subMenuCountContainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.subMenuCountNumber {
    position: absolute;
    background-color: var(--button-active-color);
    border-radius: 50%;
    top: -5px;
    left: 0px;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    letter-spacing: 0;
}

.subMenuCountNumber.active {
    background-color: var(--button-background-color);
}

/* END MenuItemStyle - SubMenuCount */

/* Menu Name Styles */
.menuData {
    width: 100%;
    display: flex;
    background-color: var(--button-background-color);
    overflow: hidden;
}

.menuData.active {
    background-color: var(--button-active-color);
}

/* END Menu Name Styles */

.menuAction {
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menuAction button {
    all: initial;
    color: var(--text-light-color);
    cursor: pointer;
}

.menuIcon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeColor {
    color: var(--button-active-color);
}


.addNewSubMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--main-background-color);
}

.addNewSubMenu > div {
    min-width: 350px;
}