@import "../_common/colors.module.css";

.container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--main-background-color);
}

.addNewMenu {
    padding: 15px 0px;
    transition: transform 0.5s ease-in-out;
    background-color: inherit;
}

.menuContainer {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
}
